// brand colors (http://name-of-color.com/)
$black: #000;
$white: #fff;
$red: #ef2c2c;
$dark-bg: #627579;

// base variables
$base-text-color: #677a7e;
$second-text-color: #467375;
$base-background-color: #eee;
$base-link-color: $red;
$base-form-text-color: #8fa0a5;
$base-form-placeholder-color: #8fa0a5;
$base-input-border-color: #bac7cb;

$base-font-size: 14px;
$base-line-height: 1.143;
$base-font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
$base-text-interval: ($base-font-size * $base-line-height);

$base-min-width: 320px;

// @font-face-serif: 
// @font-face-sans-serif: 